<div class="bounceInRight animated go">
  <a title="顶部切换页面" class="gototop" href="#htmlup" target="_self">
    <div class="box" style="font-family:'ffad_matroregular';">
        Top
    </div>
  </a>
  <a title="底部有{% if site.disqus %}disqus{% endif %}{% if site.livere %}livere{% endif %}{% if site.Gitment %}Gitment{% endif %}评论哦" class="gotobottom" href="#htmldown" target="_self">
    <div class="box" style="font-family:'ffad_matroregular';">
        Foot
    </div>
  </a>
</div>

<!-- <div id="toc-display" class="toc go-toc">
    <span style="font-family:'ffad_matroregular';">Toc</span>
    <nav id="toc" data-toggle="toc"></nav>
</div> -->


<div id="toc-display" class="toc go-toc">
  <div id="toc-inside">
      <span style="font-family:'ffad_matroregular';">Toc</span>
      <nav id="toc" data-toggle="toc"></nav>
  </div>
</div>

<script>
    var navSelector = '#toc'
    var $myNav = $(navSelector)
    // Toc.init($myNav)
    Toc.init({
      $nav: $("#myNav"),
      $scope: $("h1, h2, h3, h4, h5, h6")
    });
    $('body').scrollspy({
      target: navSelector
    })
</script>
