<!-- 博文的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
{% include androidColor.html %}
</head>
<!-- <body> -->
<body data-spy="scroll" data-target="#toc">

<!-- 顶部锚点 -->
<a id="htmlup" name="htmlup"></a>
<!-- 引入博文顶部选项 -->
{% include post-header.html %}
<!-- 引入移动下拉选项 -->
{% include boot.html %}
<!-- 引入博文顶部样式 -->
{% include post-title.html %}
<div class="markdown-body fadeInUp animated">

  <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
    {{ page.title }}
  </div>

  <!-- 文章内容 -->
  {{ page.content }}
  <!-- 引入share模块 -->
  {% include share.html %}
</div>

<!-- 底部锚点 -->
<a id="htmldown" name="htmldown"></a>
<!-- 引入评论模块 -->
{% include comment.html %}
<!-- 引入goto模块 -->
{% include goto.html %}
<!-- 引入页面底部模块 -->
{% include footer.html %}

<!-- add after bootstrap.min.js -->
<link rel="stylesheet" href="/assets/css/bootstrap-toc.min.css">
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-toc.min.js"></script>

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5e42efab298c395d1ce76818/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->


</body>
</html>
